{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<style>
    .main-container {
        min-height: 80vh; /* Adjust as necessary to control the height */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .shop-now-button-container {
        margin-top: 50px; /* Adjust this value to lower the button */
    }
    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .buttons-container .btn {
        margin: 10px;
    }
</style>
    <div class="container main-container">
        <div class="row justify-content-center align-items-center shop-now-button-container">
            <!-- Central Content -->
            <div class="col-12 text-center">
                <h1 class="display-4 logo-font text-black">
                    The new products are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <!-- New Buttons -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <div class="buttons-container my-5">
                    <a href="{% url 'faq' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 mx-2">FAQ</a>
                    <a href="{% url 'testimonial' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 mx-2">Testimonials</a>
                    <a href="{% url 'contact' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 mx-2">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
