<script type="text/javascript">
    $(document).ready(function() {
        $('.increment-qty').click(function(e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input');
            var currentValue = parseInt(closestInput.val());
            if (currentValue < 99) {
                closestInput.val(currentValue + 1);
            }
        });

        $('.decrement-qty').click(function(e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input');
            var currentValue = parseInt(closestInput.val());
            if (currentValue > 1) {
                closestInput.val(currentValue - 1);
            }
        });
    });
</script>
