{% extends "base.html" %}

{% block content %}
<div class="container mt-5 lower-content white-background">
    <h1>Testimonials</h1>
    <div class="row">
        {% for testimonial in testimonials %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ testimonial.name }}</h5>
                    <p class="card-text">{{ testimonial.message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
